<input
  (input)="onTypey()"
  [(ngModel)]="username">
<p>
  {{ username }}
</p>
<p>
  <button
    class="btn btn-primary"
    [disabled]="!canClear"
    (click)="onClearInput()">Clear Name</button>
</p>
